{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["googleappsscript", "prettier"],
  "env": {
    "googleappsscript/googleappsscript": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "getHeadersToIndexes": "readonly",
    "handleError": "readonly",
    "HeadersNotFoundError": "readonly",
    "isUpperHeader": "readonly",
    "LOWER_HEADERS": "readonly",
    "makeValuesGenerator": "readonly",
    "NoInputSheetFoundError": "readonly",
    "sendResults": "readonly",
    "UPPER_HEADERS": "readonly"
  }
}
